:root{
    --mainRed: rgb(174,49,35);
    --altRed: rgb(220,64,45);
    --whiteColor: #fff;
    --blueColor: rgb(23,56,84);
    --greyColorLight: rgb(128,128,128);
    --darkGrey: rgb(68,68,68);
    --blackColor: #111;
    --yellowish: rgb(251,189,55);
}