nav{
    margin-left: auto;
    margin-right: auto;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 80px;
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: var(--blackColor);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

a:hover{
    background-color: var(--mainRed);
    color: var(--whiteColor);
    border-radius: 4px;
    transition:  all 0.2s ease-in-out;
}

.navLogo{
    color: var(--blackColor);
    font-size: 1.6rem;
    cursor: pointer;
}

.reColor{
    color: var(--yellowish);
}

.navMenu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 12px;
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 850px){
    .navItems{
        z-index: 9999;
    }
    .navMenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--whiteColor);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: center;
        padding: 80px 0 30px 0;
        margin: 0;        
    }

    .navMenu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
    }

    li{
        
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 1.5rem ;
        text-align: center;
    }

    li a{
        color: var(--mainRed);
    }

    li a:hover{
        color: var(--yellowish);
        background: none;
    }
    
}
